### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list without using set.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [1]:
def return_unique(li):
    res = []

    for i in li:
        if i not in res:
            res.append(i)

    return res


li = [1, 2, 3, 3, 3, 3, 4, 5]
return_unique(li)

[1, 2, 3, 4, 5]

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [2]:
def sort_sequence(seq):
    temp = []

    for i in sorted(seq.split("-")):
        temp.append(i)

    return "-".join(temp)


s = "green-red-yellow-black-white"
sort_sequence(s)

'black-green-red-white-yellow'

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [3]:
def lower_upper(s):
    lower_count = 0
    upper_count = 0

    for i in s:
        if i.islower():
            lower_count += 1
        elif i.isupper():
            upper_count += 1
        else:
            pass

    return lower_count, upper_count


s = "CampusX is an Online Mentorship Program fOr EnginEering studentS."
x, y = lower_upper(s)
print("No. of Lower case characters:", x)
print("No. of Upper case Characters:", y)

No. of Lower case characters: 47
No. of Upper case Characters: 9

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [4]:
def give_even(li):
    res = []

    for i in li:
        if i % 2 == 0:
            res.append(i)

    return res


give_even([1, 2, 3, 4, 5, 6, 7])

[2, 4, 6]

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
6 is perfect number because its proper divisors (1, 2, 3) add up to 6 (1+2+3=6), and 28 is perfect number because its proper divisors (1, 2, 4, 7, 14) add up to 28 (1+2+4+7+14=28)
Other examples include 496 and 8128, ...
```

In [5]:
def is_perfect_number(n):
    divisors = []
    sum = 0

    for i in range(1, n):
        if n % i == 0:
            sum += i
            divisors.append(i)

    if sum == n:
        return True
    else:
        return False


is_perfect_number(28)

True

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [6]:
def merge_dict(*args):
    d = {}

    for i in args:
        d.update(i)

    return d


dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

merge_dict(dic1, dic2, dic3)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [7]:
def most_used(s):

    d = {}
    for i in s.split():
        if i in d:
            d[i] += 1
        else:
            d[i] = 1

    max_val = max(d.values())

    for i in d:
        if d[i] == max_val:
            print(i, "->", d[i])
            break


most_used("hello how are you i am fine thank you")

you -> 2

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size **10**.

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [8]:
import math


def histogram(li):

    min_bin = math.floor(min(li) / 10) * 10
    max_bin = math.ceil(max(li) / 10) * 10

    d = {}

    for i in range(min_bin, max_bin, 10):
        count = 0
        for j in li:
            if i + 1 <= j <= i + 10:
                count += 1

        d[str(i + 1) + "-" + str(i + 10)] = count

    return d


histogram([13, 42, 15, 37, 22, 39, 41, 50])

{'11-20': 2, '21-30': 1, '31-40': 2, '41-50': 3}

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [9]:
def shortest_dist(points, query):
    temp = []
    for i in points:
        distance = ((i[0] - query[0]) ** 2 + (i[1] - query[1]) ** 2) ** 0.5
        temp.append(distance)

    return points[sorted(list(enumerate(temp)), key=lambda x: x[1])[0][0]]


# points = [(1, 4), (2, -2), (13, 3), (14, 4)]
points = [(1, 1), (2, 2), (3, 3), (4, 4)]
query = (0, 0)

shortest_dist(points, query)

(1, 1)

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [10]:
def bow(li):

    vocab = set()

    for i in li:
        vocab.update(i.split())

    result = []

    for i in li:
        result.append([])
        for j in vocab:
            result[-1].append(i.count(j))

    print(vocab)
    return result


li = ["cat mat rat cat", "sat bat fat cat rat", "pat cat mat rat"]

bow(li)

{'pat', 'cat', 'bat', 'mat', 'sat', 'rat', 'fat'}

[[0, 2, 0, 1, 0, 1, 0], [0, 1, 1, 0, 1, 1, 1], [1, 1, 0, 1, 0, 1, 0]]

### `Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [11]:
li1 = [1, 2, 3]
li2 = [4, 5, 6]
li3 = [7, 8, 9]

# [12,15,18]

list(map(lambda x, y, z: x + y + z, li1, li2, li3))

[12, 15, 18]

### `Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [12]:
list1 = [1, 2, 3, 4, 5, 6]
list(map(lambda x, y: x**y, list1, range(len(list1))))

[1, 2, 9, 64, 625, 7776]

### `Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [13]:
str1 = "FIFA world cup in 2022 will take place in Qatar"

list(filter(lambda x: True if x.lower() in "aeiou" else False, str1))

['I', 'A', 'o', 'u', 'i', 'i', 'a', 'e', 'a', 'e', 'i', 'a', 'a']

### `Problem-14`: Use reduce to convert a 2D list to 1D

In [14]:
li = [[1, 2, 3], [3, 6, 7], [7, 5, 4]]

import functools

functools.reduce(lambda x, y: x + y, li)

[1, 2, 3, 3, 6, 7, 7, 5, 4]

### `Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br><br/>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [15]:
employees = [
    {"fname": "Nitish", "lname": "Singh", "age": 33, "grade": "skilled"},
    {"fname": "Ankit", "lname": "Verma", "age": 34, "grade": "semi-skilled"},
    {"fname": "Neha", "lname": "Singh", "age": 35, "grade": "highly-skilled"},
    {"fname": "Anurag", "lname": "Kumar", "age": 30, "grade": "skilled"},
    {"fname": "Abhinav", "lname": "Sharma", "age": 37, "grade": "highly-skilled"},
]

In [16]:
list(
    map(
        lambda x: x["fname"] + " " + x["lname"],
        list(
            filter(
                lambda x: True if x["grade"] == "highly-skilled" else False, employees
            )
        ),
    )
)

['Neha Singh', 'Abhinav Sharma']